.wrapper {
    background-color: #131418;
}

/*左侧开始*/
.left {
    position: fixed;
    margin: 0 auto;
    float: left;
    height: 100vh;
    width: 180px;
    background-color: #1E1E26;
}

.aside {
    margin: 0 15px;
}

/*logo*/
.aside .logo img {
    width: 150px;
    height: 75px;
}

.aside .logo span {
    color: #66c4fe;
    font-size: 10px;
    padding-left: 5px;
}

/*左侧导航栏开始*/
.aside .list {
    margin-top: 10px;
}

.aside .list ul li {
    padding: 12px 5px;
}

.aside .list ul li a {
    color: #FFFFFF;
    font-size: 18px;
}

.aside .list ul li:hover {
    background-color: #131418;
    transition: font-size 0.3s ease;
    border-radius: 10px;
    font-size: 24px;
}

.aside .list ul li:hover .icon-shouye {
    color: #17BFF7;
}

.aside .list ul li:hover .icon-rexiao {
    color: #e82020;
}

.aside .list ul li:hover .icon-fenlei {
    color: #71CAB1;
}

.aside .list ul li:hover .icon-dingdan {
    color: #FADD44;
}

.aside .list ul li:hover .icon-shoucang {
    color: deeppink;

}

.aside .list ul li:hover .icon-guanzhu {
    color: #8f23de;
}
.aside .list ul li:hover .icon-goodbook{
    color: #0299f6;
}

.aside .list ul li span {
    font-size: 20px;
    padding-right: 5px;
    color: #717791;
}


/*左侧导航栏结束*/

/*左侧结束*/


/*右侧开始*/
.right {
    padding: 15px 0 15px 210px;

}

.header {
    display: flex;
}

.header .search-box {
    float: left;
}


/*搜索框开始*/
.header .search-box label {
    width: 860px;
    cursor: pointer;
    background-color: #252831;
    font-size: 1.2rem;
    position: relative;
    display: block;
    border-radius: 8px;
    color: #717791;
}

/*.header .search-box label:hover{*/
/*    transition: background-color .3s ease;*/
/*    background-color: #444857;*/
/*}*/

.header .search-box label span {
    position: absolute;
    top: 0.4rem;
    left: .6em;
    bottom: 0;
    margin: auto auto auto 0;
    font-size: 26px;
    z-index: 1;
}

.header .search-box label input {
    width: 100%;
    margin: 0;
    padding: .4em .4em .4em .6em;
    text-indent: 2em;
    border: 0;
    border-radius: 4px;
    font: inherit;
    font-weight: 600;
    background: #252830;
    color: #ffffff;
}

.header .search-box label input::placeholder {
    color: #717791;
}

/*搜索框结束*/

/*header右侧开始*/
.header .font {
    width: 45px;
    height: 45px;
    margin-left: 16px;
    background-color: #444857;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .font span {
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
}

.header .font:hover .iconfont {
    color: #66C5FF;
    font-size: 26px;
    transition: font-size .3s ease;
}

.header .shop-cart a {
    position: relative;
}

.header .shop-cart .cart-number {
    position: absolute;
    width: 12px;
    height: 12px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 8px;
    background-color: red;
    left: 20px;
}

.header .info a {
    position: relative;
}

.header .info .info-num {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    left: 18px;
    top: 5px;
}

.header .font:hover .cart-number {
    width: 15px;
    height: 15px;
    color: #66C5FF;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    background-color: red;
    left: 24px;
}

.header .font:hover .info-num {
    width: 9px;
    height: 9px;
    background-color: red;
    left: 20px;
    top: 3px;
}

/*header右侧结束*/

/*main区域开始*/
.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*position: relative;*/
    padding: 0 1.0rem;
}

/*热销书籍开始*/
.hot{
    margin-top: 20px;
    height: 640px;
}
.hot .hot-books{
    width: 150px;
    height: 50px;
}

.hot-box{
    background-color: #1E1E26;
    border-radius: 10px;
    width: 300px;
    height:280px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;

}
.hot-box img{
    width: 240px;
    height: 180px;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 10px;
}
.hot-box .content{
    position: relative;
    display: flex;
    padding-top: 5px;
}
.hot-box .content .content-left{
    float: left;
}
.hot-box .content .content-left h2{
    padding-left: 22px;
    font-size: 16px;
    color:#FFFFFF ;
}
.hot-box .content .content-left h3{
    padding-left: 28px;
    font-size:10px;
    color: #FFFFFF;
    display: inline-block;
}
.hot-box .content .content-right{
    position: absolute;
    left: 240px;
}
.hot-box .content .content-right .icon-gengduo{
    font-size: 25px;
    color:#707791 ;
}
.hot-box .content-bottom{
    padding-top: 2px;
    padding-left: 28px;
}
.hot-box .content-bottom span{
    background-color: rgb(68, 72, 87);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 4px;
    margin-right: 2px;
}
/*热销书籍结束*/

/*书籍分类开始*/
.classify{
    height: 600px;
    margin-top: 20px;
}

.books-classify{
    width: 150px;
    height: 50px;
}
.classify-card{
    padding: 0 0 0 10px;
}
.classify-box{
    float: left;
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    margin: 20px 36px 0 0 ;
}
.classify-box:hover {
    opacity: 0.8;
}

.classify-content{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.classify-content .classify-add{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    color: #10c469;
    background-color: rgba(16, 196, 105, .18)
}
.classify-title{
    width: 100%;
    font-size: 16px;
    color: #eaebf4;
    line-height: 26px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.classify-title::after{
    content: "";
    background: #ffffff;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -5px;
}
/*书籍分类结束*/
/*main区域结束*/

/*回到顶部*/
#id{
    position: relative;
}

.back-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.back-top img {
    width: 45px;
    height: 45px;
}




