.w {
    width: 1152px;
    margin: 0 auto;
}

* {
    padding: 10px;
}

.search {
    text-align: center;
}

.author {
    display: inline;
}

.bookName {
    display: inline;
}

.del {
    background: red;
    border-radius: 3px;
}

.add {
    background: skyblue;
    border-radius: 3px;
}

table {
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

th,
td {
    border: 1px solid #999;
    text-align: center;
    padding: 20px 0;
}

table thead tr {
    background-color: #008c8c;
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table tbody tr:hover {
    background-color: #ccc;
}

table tbody tr td:first-child {
    color: #f40;
}

table tfoot tr td {
    text-align: right;
    padding-right: 20px;
}

.nav .title a {
    text-decoration: none;
}